body{
  background-color: rgb(211, 102, 211);
}

.App {
  text-align: center;
  height: 200px;
}

#container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#adoption{
  grid-column: 1;
  background-color: pink;
  height: 100vh;
}

#form{
  grid-column: 2;
  background-color: rgb(106, 152, 211);
}

.border{
  border: 5px solid rgb(211, 102, 211);
}

.input{
  background-color: rgb(211, 102, 211);
  border: 2px solid black;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}